*{
   padding: 0;
   margin: 0;
}

header{
   height: 80vh;
   width:100%;
   background-image: url("images/bodyimg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

.box{
   height: 80vh;
   width:100%;
   position: absolute;
   background-color: black;
   opacity:0.5;
}
nav{
   height: 80px;
   width: 80%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   top: 20px;
   background-color: aquamarine;
   position: relative;
}

.container{
   display: flex;
   max-width: 40wh;
   height: 100%;
   margin: auto;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   position: relative;
   gap: 10px;
   
}